@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.augh {
  margin: 0px auto;
  font-size: 3rem;
  line-height: 1.167;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  width: max-content;
  box-shadow: rgba(66, 179, 245, 0.4) 5px 5px, rgba(66, 179, 245, 0.3) 10px 10px, rgba(66, 179, 245, 0.2) 15px 15px, rgba(66, 179, 245, 0.1) 20px 20px, rgba(66, 179, 245, 0.05) 25px 25px;
  border-width: 4px;
  border-radius: 8px;
  border-color: rgba(66, 179, 245, 0.6);
  border-style: solid;
  font-family: Poppins;
  font-weight: bold;
  background-color: white;
}

video {
  max-width: 100%;
  max-height: calc(100vh - 64px);
}
